## Setup the data:

The fallowing code treat the data using these steps:

1.   Read the data
2.   Remove the rows with empty values
3.   Sort values by date

In [1]:
from pandas import read_csv

columns_to_show = ['name', 'website']
df_link = 'https://raw.githubusercontent.com/raulpy271/languagesDataset/main/datasets/all_languages.tsv'
df = read_csv(df_link, sep='\t')


df.dropna(inplace=True)
df.sort_values('first_release', ascending=False, inplace=True)

## Examples of query:

### Query the most old languages which has the functional paradigm:

In [2]:
have_functional_paradigm = (
    df['paradigms'].str.lower()
    .str.contains('functional'))


df[have_functional_paradigm][columns_to_show].tail()

        name                                         website
372  miranda                          http://miranda.org.uk/
573      sml                          http://sml-family.org/
607        t                 http://mumble.net/~jar/tproject
551   scheme                  http://www.scheme-reports.org/
353   matlab  https://www.mathworks.com/products/matlab.html

### Search the languages that use functional programming for web development:

In [3]:
used_to_web_development = (
    df['about'].str.lower()
    .str.contains('web'))


functional_in_web_development = (
    used_to_web_development & have_functional_paradigm)


df[functional_in_web_development][columns_to_show]

            name                             website
504   purescript          http://www.purescript.org/
161          elm               https://elm-lang.org/
296       kotlin             https://kotlinlang.org/
430          opa                 http://opalang.org/
133         dart                   https://dart.dev/
423  objective-j  http://www.cappuccino-project.org/
155   ecmascript  http://www.ecma-international.org/
458          php                https://www.php.net/